/* Testing and Display*/
.tm-example{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100%;
  overflow: hidden;
}

/*Variables*/
$transition-transform: transform 0.5s !default;
$transition-hidden: all 1s !default;

/*Mixins*/
@mixin transform($transformation){
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ie-transform: $transformation;
       -o-transform: $transformation;
          transform: $transformation;
}

@mixin translate($amtX, $amtY...){
  @include transform(translate($amtX, $amtY...));
}

@mixin scale($by){
  @include transform(scale($by));
}

/*Animations*/
@keyframes slide-down--img{
  0%   {@include translate(0,   0%); opacity: 1}
  100% {@include translate(0, 105%); opacity: 0}
}

@keyframes slide-up--img{
  0%   {@include translate(0,   0%);}
  100% {@include translate(0, -105%);}
}

@keyframes show--frame{
  to{opacity: 1; max-height: 100%}
}

#tm-carousel{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .c-item{
    position: relative;
    background: gray;
    //transition: opacity 0.75s;
    cursor: pointer;
    margin: 1px 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0;

    &:focus{
      outline: 2px solid initial;
    }

    & > img {
        margin: 0;
        padding: 0;
      }
  }

  .slide-down--img{
    animation: slide-down--img 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  
  }

  .slide-up--img{
    @extend .slide-down--img;
    animation: slide-up--img 2s;
  }

  .fadeIn{
    animation: show--frame 0.01s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}