/* Testing and Display*/
.tm-example{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100%;
  overflow: hidden;
}

/*Variables*/
$transition-transform: transform 0.5s !default;
$transition-hidden: all 1s !default;
$focus-blue: rgba(52, 152, 219,0.5);
$bg-gray: rgba(127, 140, 141,1.0);

/*Mixins*/
@mixin transform($transformation){
  -webkit-transform: $transformation;
     -moz-transform: $transformation;
      -ie-transform: $transformation;
       -o-transform: $transformation;
          transform: $transformation;
}

@mixin translate($amtX, $amtY...){
  @include transform(translate($amtX, $amtY...));
}

@mixin scale($by){
  @include transform(scale($by));
}

/*Animations*/
@keyframes slide-down--img{
    0% {@include translate(0,   0%); opacity: 1}
  100% {@include translate(0, 105%); opacity: 0}
}

@keyframes scale-hover{
    0%{ background-color: $bg-gray;}
  100%{ background-color: $focus-blue;}
}

@keyframes slide-up--img{
    0% {@include translate(0,    0%); opacity: 1}
  100% {@include translate(0, -105%); opacity: 0}
}

@keyframes show--frame{
  to{opacity: 1; max-height: 100%}
}

#tm-carousel{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .c-item{
    position: relative;
    background: $bg-gray;
    cursor: pointer;
    transition: $transition-transform;
    margin: 1px 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0;

    & > img {
        margin: 0;
        padding: 0;
      }
  }

  .slide-down--img{
    animation: slide-down--img 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .slide-up--img{
    @extend .slide-down--img;
    animation: slide-up--img 2s;
  }

  .fadeIn{
    animation: show--frame 0.01s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .hover-select{
    animation: scale-hover 500ms forwards;
  }
}