/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Testing and Display*/
.tm-example {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100vh;
  overflow: hidden; }

/*Variables*/
/*Mixins*/
/*Animations*/
@keyframes slide-down--img {
  0% {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ie-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 95%);
    -moz-transform: translate(0, 95%);
    -ie-transform: translate(0, 95%);
    -o-transform: translate(0, 95%);
    transform: translate(0, 95%);
    opacity: 0; } }
@keyframes slide-up--img {
  0% {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ie-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, -95%);
    -moz-transform: translate(0, -95%);
    -ie-transform: translate(0, -95%);
    -o-transform: translate(0, -95%);
    transform: translate(0, -95%);
    opacity: 0; } }
@keyframes hide-away--frame {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
@keyframes show--frame {
  to {
    opacity: 1;
    max-height: 100%; } }
#tm-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  #tm-carousel .c-item {
    position: relative;
    background: gray;
    transition: opacity 2s;
    cursor: pointer;
    margin: 1px 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0; }
    #tm-carousel .c-item > img {
      transition: all 1s;
      opacity: 1;
      margin: 0;
      padding: 0; }
  #tm-carousel .slide-down--img, #tm-carousel .slide-up--img {
    animation: slide-down--img 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #tm-carousel .slide-up--img {
    animation: slide-up--img 2s; }
  #tm-carousel .transition-newImg {
    animation: show--frame 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  #tm-carousel .hide-away {
    animation: hide-away 2s;
    max-height: 10px;
    background: gray;
    opacity: 0.5; }
  #tm-carousel .show-image {
    opacity: 1; }
  #tm-carousel .bring-forth {
    width: 100%;
    max-height: 100%;
    align-self: center; }
